<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a719equipmentmanagement">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <activity android:name=".ui.home.ResultActivity"></activity>
        <activity android:name=".ui.home.EditContainerLevelActivity" />
        <activity android:name=".ui.home.ToAuditActivity" />
        <activity android:name=".ui.home.InvalidEquipActivity" />
        <activity android:name=".ui.mine.ChangePasswordActivity" />
        <activity android:name=".ui.home.InventoryRangeActivity" />
        <activity android:name=".ui.home.AccountingListActivity" />
        <activity android:name=".ui.home.ChoiceDeviceClassifiyActivity" />
        <activity android:name=".ui.home.AdminInvalidItemActivity" />
        <activity android:name=".ui.home.EditDeviceClassifiyActivity" />
        <activity android:name=".ui.home.EditContainerActivity" />
        <activity android:name=".ui.home.GenerateContainerCodeActivity" />
        <activity android:name=".ui.home.AddContainerActivity" />
        <activity android:name=".ui.home.ChoiceDeptActivity" />
        <activity android:name=".ui.home.PersonManageActivity" />
        <activity android:name=".ui.home.ConfirmBorrowResultsActivity" />
        <activity android:name=".ui.home.EditDeptActivity" />
        <activity android:name=".ui.mine.PersonInfoActivity" />
        <activity android:name=".ui.home.ScrappedActivity" />
        <activity android:name=".ui.home.EditPersonActivity" />
        <activity android:name=".ui.home.AddDeptActivity" />
        <activity android:name=".ui.device.AddDeviceActivity" />
        <activity android:name=".ui.home.AddPersonActivity" />
        <activity android:name=".ui.home.InventoryActivity" />
        <activity android:name=".ui.home.AccountingActivity" />
        <activity android:name=".ui.home.PersonDetailActivity" />
        <activity
            android:name=".ui.device.DeviceDetailActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ui.device.DeviceDetailActivity2"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".ui.home.DeviceClassifiyActivity" />
        <activity android:name=".ui.home.MsgActivity" />
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.mine.ReviewHistoryActivity" />
        <activity android:name=".ui.mine.HandleHistoryActivity" />
        <activity android:name=".ui.mine.InventoryHistoryActivity" />
        <activity android:name=".ui.mine.BorrowHistoryActivity" />
        <activity android:name=".ui.home.GenarateQRActivity" />
        <activity android:name=".base.BaseItemEditActivity" />
        <activity android:name=".ui.home.ContainerDetailActivity" />
        <activity android:name=".ui.home.ContainerManageActivity" />
        <activity android:name=".ui.home.DeptManageActivity" />
        <activity android:name=".ui.home.ScanActivity" />
        <activity android:name=".ui.home.AddDeviceClassifyActivity" />
        <activity
            android:name=".ui.home.BluetoothDeviceList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".ui.home.ChoiceContainerActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity android:name=".ui.mine.ApplyHistoryActivity" />
        <activity android:name=".ui.home.ToDoListActivity" />
        <activity android:name=".ui.home.ToReturnDeviceActivity" />
        <activity android:name=".ui.home.ApplyProgressActivity" />
    </application>

</manifest>